apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: load-testing
  labels:
    app: backend
spec:
  type: NodePort
  selector:
    app: backend
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30000
    protocol: TCP
    name: http